<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">    
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<div class="w-10 p-5">
    <button id="add" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Add</button>
    <br>
    <br>
    <table id="tabla1" class="table w-10" style="background-color: white; border-radius: 10px;">
        <thead class="table-dark">
            <tr>
                <th class="w-20 py-4 ..." scope="col">ID</th>
                <th class="w-1/4 py-4 ..." scope="col">Name</th>
                <th  class="w-1/2 py-4 ..." scope="col">Last name</th>
                <th style="width: 200px ;" class="w-28px py-4 ..." scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((user) => { %>
                <tr>
                    <td id="id"><%= user.id %> </td>
                    <td><%= user.Nombre %> </td>
                    <td><%= user.Apellido %> </td>
                    <td>
                        <button name="edit" id="Editar" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit">Edit</button>
                        <button type="button" class="btn btn-primary" style="color:white;"><a style="color:white;" href="/delete/<%= user.id %>">delete</a></button>
                    </td>
                </tr>
            <% }); %> 
        </tbody>
    </table>
</div>


<!-- The Modal add-->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-ml">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
            <div style="margin:50px;">
                <h1 class="text-center text-3xl font-bold">Create user</h1>
                <form style="display:flex;flex-direction:column" action="/save" method="POST" class="mt-4">

                    <input hidden name="idAdd" id="idAdd" type="text">

                    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
                        p-2 my-2 focus:bg-white" placeholder="add name" id="nombremod" name="nombre">
                
                    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
                    p-2 my-2 focus:bg-white" placeholder="add last name" id="apellidd" name="apellido">
                
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send</button>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
 <!-- modal modificar -->
<div class="modal fade" id="edit">
    <div class="modal-dialog modal-ml">
      <div class="modal-content">
        <!-- Modal body -->
        <div class="modal-body">
            <div style="margin:50px;">
                <h1 class="text-center text-3xl font-bold">Edit user</h1>

                <form style="display:flex;flex-direction:column" action="/update" method="POST" class="mt-4">
                    
                    <input hidden id="id-update" name="id" type="text">

                    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
                        p-2 my-2 focus:bg-white" placeholder="add name" id="nombre" name="nombre">
                
                    <input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 
                    p-2 my-2 focus:bg-white" placeholder="add last name" id="apellido" name="apellido">
                
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Update</button>
                </form>

            </div>
        </div>
    </div>
    </div>
</div>

<script>
    let botones = document.querySelectorAll("#Editar")
    botones.forEach(boton => {
        boton.addEventListener("click",(event) => {
            let fila = event.target.parentNode.parentNode;
            let nodosEnfila = fila.getElementsByTagName('td');
            let id = nodosEnfila[0].textContent;
            let name = nodosEnfila[1].textContent;
            let lastname = nodosEnfila[2].textContent;
            console.log(id);
            document.getElementById("id-update").value = id;
            document.getElementById("nombre").value = name;
            document.getElementById("apellido").value = lastname;
        })
    });
</script>

<script>
    let boton = document.getElementById("add");
    boton.addEventListener("click", (event) => {
        let table = document.getElementById("tabla1");
        let lastRowIndex = table.rows.length-1;
        let lastFila = table.rows[lastRowIndex].getElementsByTagName('td');
        let id = lastFila[0].textContent;
        document.getElementById("idAdd").value = parseInt(id) + 1;
    });
</script>
